﻿
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TravelAgency</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/shared.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/login_and_registration.css" asp-append-version="true" />
</head>
<body>
    <div id="header-top">
        <div class="logo">Мир Путешествий</div>
        <div class=" button-header">
            <button class="button">Войти</button>
        </div>
    </div>
    <img class=" img-header" src="/css/Images/Designer.jpg" />
    <div id="header-bottom">
        <div class="menu">
            <ul>
                <li><a href="#home">Главная</a></li>
                <li><a href="#contact">Контакты</a></li>
                <li><a href="#countries">Страны</a></li>
                <li><a href="#services">Услуги</a></li>
            </ul>
        </div>
    </div>
    <div class="container">
        @RenderBody()
    </div>
    <script src="~/js/shared_script.js" asp-append-version="true"></script>
    <script src="~/js/home_script.js" asp-append-version="true"></script>
    <script src="~/js/login_and_registration_script.js" asp-append-version="true"></script>
    <footer>
        <div class="footer-left">
            <div class="logo">Мир Путешествий</div>
            <p>
                Мы — туристическое агентство, которое помогает воплощать мечты о путешествиях в реальность.
                Предлагаем широкий выбор туров по популярным и экзотическим направлениям. Мы заботимся о каждом клиенте,
                предоставляя индивидуальные консультации и лучший сервис.
            </p>
            <div class="footer-TravelAgency">
                &copy; 2024 — TravelAgency - Tizul
            </div>
        </div>

        <div class="footer-right">
            <div class="footer-menu">
                <ul>
                    <li><a href="#home">Главная</a></li>
                    <li><a href="#contact">Контакты</a></li>
                    <li><a href="#countries">Страны</a></li>
                    <li><a href="#services">Услуги</a></li>
                </ul>
            </div>
        </div>
    </footer>

</body>
</html>