<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TravelAgency</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/shared.css" />
</head>
<body>
    <div id="header-top">
        <div class="logo">Мир Путешествий</div>
        <div class=" button-header">
            <button class="button">Войти</button>
        </div>
    </div>
    <img  class=" img-header" src="/css/Images/Designer.jpg"/>
    <div id="header-bottom">
        <div class="menu">
            <ul>
                <li><a href="#home">Главная</a></li>
                <li><a href="#contact">Контакты</a></li>
                <li><a href="#countries">Страны</a></li>
                <li><a href="#services">Услуги</a></li>
            </ul>
        </div>
    </div>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
