<div class="container-login-registration">
    <div class="block-container">
        <div class="block">
            <section class="block_item block-item">
                <h2 class="block-item_title">У вас уже есть аккаунт?</h2>
                <button class="signin-btn block-item_btn">Войти</button>
            </section>

            <section class="block_item block-item">
                <h2 class="block-item_title">У вас нет аккаунта?</h2>
                <button class="signup-btn block-item_btn">Зарегистрироваться</button>
            </section>
        </div>

        <div class="form-box">
            <form class="form form_signin">
                <h3 class="form_title">Вход</h3>
                <label id="signin_email">
                    <input type="text" placeholder="" />
                    <span>Почта</span>
                </label>
                <label id="signin_password">
                    <input type="text" placeholder="" />
                    <span>Пароль</span>
                </label>
                <div class="form-btn form_btn_signin">Войти</div>
                <div id="error-messages-signin"></div>
            </form>

            <form class="form form_signup">
                <h3 class="form_title">Регистрация</h3>
                <label id="signup_login">
                    <input type="text" placeholder="" />
                    <span>Логин</span>
                </label>
                <label id="signup_email">
                    <input type="text" placeholder="" />
                    <span>Почта</span>
                </label>
                <label id="signup_password">
                    <input type="text" placeholder="" />
                    <span>Пароль</span>
                </label>
                <label id="signup_confirm_password">
                    <input type="text" placeholder="" />
                    <span>Подтвердите пароль</span>
                </label>
                <div class="form-btn form_btn_signup">Зарегистрироваться</div>
                <div id="error-messages-signup"></div>
            </form>
        </div>
    </div>
    <div class="overlay"></div>
</div>
