<div class= container-section>
    <h2 class=" info-sections">О нас</h2>
    <p>
        Добро пожаловать в [TravelAgency] — вашу дверь в мир незабываемых путешествий! 
        Мы — команда профессионалов, которая помогает вам открыть для себя самые удивительные уголки планеты.
        Наши специалисты тщательно подбирают маршруты, чтобы каждый ваш отдых был комфортным, безопасным и полным ярких впечатлений.
    </p>
</div>